.container{
  height: 100%;
  background-color: #000;
  background: url('../../assets/img/fundo.png') 
  no-repeat center center;

  .containerSearch {
    width: 100vw;
    max-height: max-content;
    display: grid;
    place-items: center;
    padding-top: 40px;
    .search {
      position: relative;
      width: max-content;
      text-align: center;
  
      input {
        padding-left: 20px;
        width: 765px;
        height: 54px;
        border: 1px solid var(--grey-250);
        border-radius: 8px;
        font-size: 14px;
      }
      .icons {
        position: absolute;
        right: 15px;
        top: 50%;    min-height:100%;
        transform: translateY(-50%);
        font-size: 17px;
      }
    }
   
  }
  

  .content {
    margin: 2.4375rem 0;
    padding-left: 0;
    max-width: 765px;
  }
}